* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  /* background-color: blue; */
}

.yup-container {
  color: rgb(255, 239, 239);
}

.cripto-image {
  width: 60px;
  height: 60px;
}

.high_24h {
  color: green !important;
  font-weight: bold !important;
  /* background-color: red; */
}

.low_24h {
  color: red !important;
  font-weight: bold !important;
}